#divider{
	height:15px;
	background-color: white;
}
body{
	background-color: #c2d6d6;
	text-transform: uppercase;
	text-align: center;
	color: white;
}
h1{
	font-size: 50px;
}
p{
	font-size: 30px;
}
#display{
	font-size: 20px;
	font-weight: 800;
}
/*form{
	margin-top:50px;
	margin-bottom:50px;
}*/
.tie{
	color:white;
}
.lose{
	color: red;
}
.win{
	color: green;
}
button{
	outline: none;
	border:none;
	text-transform: uppercase;
}
div{
	margin-top: 50px;
}
.totalNum{
	color: black;
}
button{
	border:none;
	outline:none;
}